Sphinx>=7.2.6
docutils>=0.17
Pillow
sphinxcontrib-blockdiag
sphinxcontrib-seqdiag
https://github.com/shimizukawa/sphinxcontrib-feed/archive/master.zip
sphinx-bootstrap-theme
janome
funcparserlib>=1.0.0a0
sphinxext-opengraph
sphinx-reredirects
