/* top navigation bar */
@media (min-width: 768px) {
    #navbar {
        background-image: url(../img/top_bg.gif);
        background-repeat: repeat-x;
    }
}
@media (max-width: 767px) {
    #navbar .navbar-header {
        background-image: url(../img/top_bg.gif);
        background-repeat: repeat-x;
    }
}

#navbar .navbar-brand {
    background: url(../img/bg_t.gif) no-repeat;
    background-position: 0 8px;
}

#navbar .fa-rss {
    color: orange;
}

/* a href color */

a,
a.toc-backref,
a.reference {
    color: #355F7C;
}

a[href]:hover {
    color: #ff0000;
    text-decoration: underline;
}

/* content body */

h1
{
    line-height:1.5em;
}

h2
{
    color: #337733;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid green;
    line-height:1.5em;
}

h3
{
    color: #337733;
    margin: 1em 0;
    padding: 0 0 0 0.3em;
    border-left: 1em solid green;
    line-height:1.5em;
}

body {
    min-width: 400px;
}
div.body {
    min-width: 400px;
    max-width: 878px;
}

div.content {
    font-size: 17px;
}

@media screen and (max-width: 767px) {
    h1{
        font-size:30px;
        font-weight: bold;
    }
    h2{
        font-size:26px;
    }
    h3{
        font-size:22px;
    }
    h4{
        font-size:20px;
    }
    h5{
        font-size:20px;
    }
    h6{
        font-size:20px;
    }
}

/* 下マージンが大きすぎて間延びしているためコメントアウト
div.content p {
    margin-bottom: 1.5em;
}
div.content li p {
    margin-bottom: 0.5em;
}
*/

blockquote {
    background: #F7FDE3;
    color: #606060;
    padding: 10px;
    font-size: inherit;
}

/*** field ***/

dl.field-list dd {
    margin-left: 30px;
    margin-top: 3px;
    margin-bottom: 5px;
}

/*** table ***/
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
}
table.docutils th {
    background-color: #F7FDE3;
}
table.docutils td,
table.docutils th {
    padding: 1px 0.5em;
    border-bottom: 1px solid #ecf0f1
}
div.content table td p,
div.content table th p {
    margin: 0;
}

/**** image/figure ***/

figure {
    background-color: #eee;
    margin-bottom: 1em;
}
figure div {
    text-align: left;
}
figcaption {
    padding-bottom: 0;
}
div.content figcaption p {
    margin: 0em;
    font-weight: bold;
}

/* sidebar */

div.bs-sidenav h3, div.bs-sidenav h4 {
    color: black;
    font-size: 100%;
    display: block;
}

div.relations {
    margin: 1em;
}

div.relations a {
    color: #355F7C;
}

div.relations a:hover {
    text-decoration: underline;
}

a.reference.external {
    text-decoration: underline;
}

/* twitter-tweet format */
.twitter-tweet {
    margin: auto;
    padding: 1em;
    background-color: #F7FDE3;
}

/* twilog div-p format */
.tl-tweet {
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 4px 2em;
    padding: 0.4em;
}

.tl-text {
    background-color: white;
    margin: 0.1em 0;
    padding: 0.5em;
}

.tl-posted {
    color: gray;
    margin: 0.1em 0;
    text-align: right;
}

.admonition.tip {
    background-color: lightcyan;
    border: 2px solid lightblue;
}

/* amazon */
div.amazlet-box {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em auto;
    width: 80%;
}
div.amazon-box {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0.5em auto;
    width: 80%;
}
div.amazon-box div.amazon-image {
    margin: 0.5em;
}
div.amazon-box div.amazon-info{
    margin: 0.5em;
}
@media screen and (min-width: 768px) {
    div.amazon-box {
        display: flex;
    }
    div.amazon-box div.amazon-image {
        width: 30%;
    }
    div.amazon-box div.amazon-info{
        width: 49%;
    }
}

/* sidebar book */
div.books {
    border-bottom: 1px solid gray;
}

a.book-tspp {
    display: block;
    width: 125px;
    height: 157px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/book-tspp.png");
}
a.book-pypro3 {
    display: block;
    width: 125px;
    height: 142px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/book-pypro3.png");
}
a.book-sphinx2 {
    display: block;
    width: 125px;
    height: 160px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/book-sphinx2.jpg");
}
a.book-sphinx3 {
    display: block;
    width: 125px;
    height: 177px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/book-sphinx3.jpg");
}
a.book-epp3 {
    display: block;
    width: 125px;
    height: 164px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/book-epp3.png");
}
a.book-tstp {
    display: block;
    width: 125px;
    height: 177px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/book-tstp.jpg");
}
a.book-tstcs {
    display: block;
    width: 125px;
    height: 178px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/book-tstcs.jpg");
}

/* sidebar badge */
a.psf-badge {
    display: block;
    width: 125px;
    height: 125px;
    margin: 4px auto;
    background-image: url("https://www.freia.jp/taka/_static/img/psf-badge.png");
}

/* blog relates */

div.blog-tags,
div.blog-date {
    font-style: italic;
}

em.blog-article-date {
    color: gray;
}
em.blog-article-date::after {
    content: ": "
}

/* footnote */

dl.footnote.brackets {
    display: flex;
    border: 1px solid gray;
    margin-left: 1em;
    margin-right: 1em;
}
dl.footnote.brackets dt.label {
    flex-basis: 2em;
}
dl.footnote.brackets dd.label {
    flex-basis: auto;
}

/* cite */
dl.citation {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid black;
}
dl.citation dt {
    width: 9%;
}
dl.citation dd {
    width: 90%;
    margin: 0;
    padding-left: 1em;
}
