{% extends "!layout.html" %}

{% set site_url = 'http://www.freia.jp/taka' %}
{% set css_files = css_files + ['_static/css/font-awesome.min.css', ] %}

{%- block extrahead %}
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1'>
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site_url }}/rss.xml">
<link rel="canonical" href="{{ site_url }}/{{ pagename }}.html">
{% endblock %}

{% block navbartoc %}{% endblock %}

{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}
{{ bsidebar() }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-769552-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
