[buildout]
parts = prepare app_lib gae_sdk gae_tools

[prepare]
recipe = iw.recipe.cmd:py
on_install = true
cmds =
    >>> files = {}
    >>> files['app.yml'] = """\
    ... application: appname
    ... version: 1
    ... runtime: python
    ... api_version: 1
    ... builtins:
    ... - remote_api: on
    ... - appstats: on
    ... #- datastore_admin: on
    ... handlers:
    ... - url: .*
    ...   script: main.py
    ... """
    >>> files['main.py'] = """\
    ... import sys
    ... sys.path.insert(0, './distlib.zip')
    ... """
    >>> buildout_dir = buildout.get('directory', '.')
    >>> path = os.path.join(buildout_dir, 'app')
    >>> if not os.path.exists(path):
    ...     os.makedirs(os.path.join(buildout_dir, 'app'))
    ...     for name in files:
    ...         open(os.path.join(path, name), 'at').write(files[name])

[app_lib]
# Sets the library dependencies for the app.
recipe = appfy.recipe.gae:app_lib
lib-directory = app/distlib
use-zipimport = true

# Define the libraries.
eggs =
    Flask
    feedparser
    twitter
    BeautifulSoup

# Don't copy files that match these glob patterns.
ignore-globs =
    *.c
    *.pyc
    *.pyo
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy
    simplejson/_speedups.py

# Don't install these packages or modules.
ignore-packages =
    distribute
    setuptools
    easy_install
    site
    pkg_resources


[gae_sdk]
# Dowloads and extracts the App Engine SDK.
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.4.1.zip
#destination = ${buildout:parts-directory}
#hash-name = false
clear-destination = true


[gae_tools]
# Installs appcfg, dev_appserver and python executables in the bin directory.
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}/google_appengine

# Add these paths to sys.path in the generated scripts.
extra-paths =
    app/lib
    app/distlib.zip
