/*************************************
 * custom styles
 *************************************/

div.related,
a.headerlink {
	display: none;
}
#searchbox {
	visibility: hidden;
}

div.footer {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	right: 0;
	color: gray;
	font-size: 130%;
	background-color: black;
	padding: 0.2em;
}
div.footer a {
	color: orange;
	text-decoration: none;
}
div.footer:hover {
	font-size: 400%;
	background-color: white;
	color: black;
}
div.footer:hover a {
	color: blue;
}


