[buildout]
parts = app docutils

versions = versions

[app]
recipe = z3c.recipe.scripts
eggs =
	sphinx
	sphinxcontrib-docxbuilder
	sphinxcontrib-blockdiag
	seqdiag
	sphinxjp.themes.s6
	sphinxjp.themes.htmlslide
	sphinxjp.themes.sphinxjp
interpreter = sphinx-py

[docutils]
recipe = zc.recipe.egg:scripts
eggs =
	docutils

[versions]
#lxml = 2.2.8
