[buildout]
parts = sphinx
newest = false
show-picked-versions = true
update-versions-file = versions.cfg

;[hg]
;recipe = zc.recipe.egg
;eggs = mercurial
;interpreter = py-hg
;entry-points = hg=mercurial.dispatch:run
;initialization =
;	import pkg_resources, os
;	execfile(os.path.join(pkg_resources.get_distribution('mercurial').location, 'EGG-INFO', 'scripts', 'hg'))

[sphinx]
recipe = zc.recipe.egg
eggs =
	mercurial
	Pillow
	Sphinx
	docutils
	sphinxcontrib-blockdiag
	sphinxcontrib-seqdiag
	feed
interpreter = py-sphinx

[versions]
Sphinx=1.2b3
