name: shimizukawa/freia.jp
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: '0'  # to get full commit logs for 'git-set-file-times'
      - name: DEBUG INFO github refs
        run: |
          echo ${{ github.ref }}
          echo ${{ github.head_ref }}
          echo ${{ github.base_ref }}
      - name: Get Date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
          echo "yyyymm=$(/bin/date -u "+%Y%m")" >> $GITHUB_OUTPUT 
        shell: bash
      - name: git-set-file-times
        # change timestamps with commit time instead of checkout time.
        run: |
          chmod +x ./.github/git-set-file-times.py
          ./.github/git-set-file-times.py
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
      - name: CACHE sphinx build
        id: cache-sphinx-build
        uses: actions/cache@v4
        with:
          path: site/build
          key: ${{ runner.os }}-sphinx-build-${{ github.ref }}-${{ steps.get-date.outputs.yyyymm }}
      - name: install packages
        working-directory: site
        run: |
          echo "python version $(uv run python --version) running"
          echo "uv version $(uv --version) running"
          uv sync
          uv run python -m site
          uv pip freeze
      - name: build html
        working-directory: site
        run: |
          echo "sphinx-build version $(uv run sphinx-build --version) running"
          uv run sphinx-build -M html source build -N -T -j 4
      - name: s3sync
        run: |
          echo "Upload to ${AWS_DEFAULT_REGION} ${AWS_S3_BUCKET}"
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -q awscliv2.zip
          sudo ./aws/install --update
          aws --version
          # https://awscli.amazonaws.com/v2/documentation/api/latest/reference/s3/sync.html
          aws s3 sync site/build/html s3://${AWS_S3_BUCKET}/taka --acl public-read
          aws s3 sync root/static s3://${AWS_S3_BUCKET}/ --acl public-read
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: "ap-northeast-1"
        if: ${{ github.ref == 'refs/heads/main' }}
